<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form ejs</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <h2>信息页面</h2>
  <form action="/doRegister" method="POST">
    <div>
      名称：<input type="text" name="username"/>
    </div>
    <div>
      年龄：<input type="text" name="age"/>
    </div>
    <input type="submit" value="提交"/>
  </form>

  <form action="/delete" method="POST">
    <div>
      名称：<input type="text" name="username"/>
    </div>
    <div>
      年龄：<input type="text" name="age"/>
    </div>
    <input type="submit" value="删除"/>
  </form>

</body>
</html>