<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form ejs</title>
</head>
<body>
  <form action="/doLogin" method="POST">
    <div>
      账号：<input type="text" name="username"/>
    </div>
    <div>
      密码：<input type="password" name="password"/>
    </div>
    <input type="submit" value="提交"/>
  </form>
</body>
</html>